body{
  color:white;
  background-color: black;
  ;
  
  h1 {
    font-size: 20px;
  }

p {
  font-size: 16;
  font-size: 12px;
  kdsajf: 34px;
}
.reunus {
  border-style: dotted 2px;
  border-width: 2px;
  border-color:red;
  width: 100px;
  height: 100px;
}
